.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000000;
  }
  
  .login-form {
    background-color: #141414;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(100, 89, 243, 10);
    width: 400px;
    
    
  }

  h2{
    text-align: center;
    font-size: 30px;
    font-family:Poppins;
  }

  p{
    text-align: center;
    font-size: 20px;
    font-family:Poppins;
    
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .reset{
    text-decoration: none;
    color: #77b4f6;
    font-weight:400;
    text-align: right;
    font-size: 12px;
    


  }
  label {
    font-weight:bold;
  }
  
  input {
    width: 100%;
    padding: 10px;
    color: #000000;
    margin-top: 5px;
    border: 1px solid #fffefe;
    border-radius: 5px;
    box-sizing: border-box;
    
  }
  
  .create-account-link {
    text-decoration: none;
    color: #007bff;
    font-weight:400;
  }
  
  .login-btn {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .login-btn:hover {
    background-color: #0056b3;
  }
  