.teamLeaderDashboard {
  overflow-y: scroll;
  height: 100vh;
  padding-bottom: 70px;
}

.progress_container{
  width: calc(100vw - 600px);
  overflow-x: auto;
  white-space: nowrap;
  display: flex;
  gap: 20px;
}

.progress_container_sideBarClosed {
  width: calc(100vw - 420px);
  overflow-x: auto;
  white-space: nowrap;
  display: flex;
  gap: 20px;
}

.card{
  display: inline-block;
}