.single-task-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2d2d2d;
    margin-top: 20px;
    padding: 15px 20px;
    border-radius: 10px;
    -webkit-transition: 1s;
  }
  
  .status-container {
    display: flex;
    gap: 40px;
  }
  
  .status-container select {
    background-color: #2d2d2d;
    border: none;
    font-size: 12px;
  }
  
  option {
    padding-block: 20px;
  }
  
  .green-status {
    color: #33ff00;
  }
  
  .yellow-status {
    color: #dbff00;
  }
  
  .padding {
    padding: 100px;
  }
  
  .status {
    background-color: #181818;
    padding: 10px 30px;
    border-radius: 5px;
    font-size: 15px;
  }
  