.sidebar-main {
  padding-top: 50px;
  padding-left: 10px;
  text-align: center;
}

.members {
  font-size: 15px;
  margin-top: 3px;
}

.info-text {
  font-size: 15px;
  margin-top: 7px;
  color: #5bceff;
  margin-bottom: 30px;
}

.margin-left {
  margin-left: 15px;
}

.line {
  height: 1px;
  width: 160px;
  background-color: #272727;
  margin-block: 10px;
}

.side-text {
  font-size: 15px;
}

.margin-top {
  margin-top: 40px;
}

.text-left {
  text-align: left;
}

#teamActivity{
  color: #5bceff;
}

#teamActivity, #teamChat, #teamProgress {
  position: relative;
  cursor: pointer;
}

#teamActivity:hover, #teamChat:hover, #teamProgress:hover {
  opacity: 0.8;
}

.barContent{
  display: flex;
  align-items: center;
}

#teamActivity p, #teamChat p, #teamProgress p {
  flex: 2;
  width: 100%;
}

#teamActivity .dot {
  visibility: visible;
}

.Leader {
  color: #5bceff;
}

.dot {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #5bceff;
  margin-right: 20px;
  right: 0;
  visibility: hidden;
}

.deadline-container {
  background-color: #115d68;
  padding: 15px 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-radius: 20px;
  margin-top: 10px;
}

.clock-container {
  display: flex;
  align-items: center;
  gap: 30px;
}

.deadline-text-container {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.deadline-text-container p {
  font-size: 15px;
}

.continue-btn {
  background-color: #181818;
  padding: 13px 25px;
  border-radius: 10px;
  border: none;
  color: white;
  font-size: 15px;
}

.tasks-container {
  margin-top: 55px;
  margin-left: 10px;
}

.tasksNotAvailable {
  width: 100%;
  margin-top: 30px;
  color: #a7a7a7;
  text-align: center;
}

.single-task-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2d2d2d;
  margin-top: 20px;
  padding: 15px 20px;
  border-radius: 10px;
}

.status-container {
  display: flex;
  gap: 40px;
}

.status-container select {
  background-color: #2d2d2d;
  border: none;
  font-size: 12px;
}

option {
  padding-block: 20px;
}

.green-status {
  color: #33ff00;
}

.yellow-status {
  color: #dbff00;
}

.padding {
  padding: 100px;
}

.status {
  background-color: #181818;
  padding: 10px 30px;
  border-radius: 5px;
  font-size: 15px;
}
