.teamWrapper{
    position: relative;
    background: #272727;
    border-radius: 16px;
    margin: 10px;
    padding: 10px;
    height: fit-content;
}

.teamStatus{
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 10px;
    margin-top: 10px;
    background: #284829;
    color: #00FF00;
    padding: 4px 8px 4px 8px;
    border-radius: 8px;
    
}

.teamStatus h3{
    font-size: 12px;
    font-weight: 300;
}

.teamProfile{
    display: flex;
    margin-top: 30px;
}

.teamProfile .profile{
    width: 50px;
    height: 50px;
    background: #0b0b0b;
    border-radius: 10px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.profile img{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    object-fit: cover;
    object-position: 50% 50%;  
}

.teamProfile .profile h1 {
    font-size: 20px;
    font-weight: 400;
    color: #b4b4b4;
}

.teamProfile .teamTitle{
    margin-left: 10px;
    max-width: 200px;
    max-height: 100px;
}

.teamTitle #membersLength{
    color: #a7a7a7;
    font-weight: 400;
}


#teamDesc {
    margin-top: 10px;
    color: #a7a7a7;
    font-size: 13px;
}

.projectLength{
    display: flex;
    align-items: center;
    margin-top: 10px;
    position: relative;
}

.projectLength h3{
    font-size: 15px;
    margin-left: 10px;
    font-weight: 300;
}

#remaining {
    position: absolute;
    right: 0;
    color: #00FF00;
    font-size: 12px;
}

.memberProfiles{
    display: flex;
    margin-top: 10px;
}


.memberExtra{
    background: #0b0b0b;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
}

.memberExtra p{
    font-size: 10px;
    color: #5BCEFF;
    font-weight: 400;
}

.memberProfile img{
    height: 25px;
    width: 25px;
    object-fit: cover;
    object-position: 50% 50%;  
    border-radius: 50%;
    margin-right: -5px; 
}

.buttons{
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 10px;
    margin-top: 20px;

}

.buttons a {
    text-decoration: none;
    color: #5BCEFF;
    font-size: 10px;
}

.teamButton{
    width: 92%;
    display: flex;
    background: #0b0b0b;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
}

.teamButton h3{
    font-weight: 400;
}

.menuButton {
    position: absolute;
    right: 0;
}