@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,700;0,900;1,600&display=swap");

body {
  background: #1e1e1e;
  background: linear-gradient(
    to bottom,
    rgba(45, 104, 129, 1) 0%,
    rgba(30, 30, 30, 1) 16%,
    rgba(30, 30, 30, 1) 100%
  );
  background-repeat: none;
  overflow: hidden;
  z-index: -1000;
  display: flex;
  flex-direction: column;
}

.background {
  background: linear-gradient(
    to bottom,
    rgba(45, 104, 129, 1) 0%,
    rgba(30, 30, 30, 1) 16%,
    rgba(30, 30, 30, 1) 100%
  );
  background-repeat: none;
}

*::-webkit-scrollbar {
  display: none;
}

.titleBar {
  height: 30px;
  width: 100%;
  top: 0;
  -webkit-app-select: none;
  -webkit-app-region: drag;
  position: absolute;
}

.settingsButtonMac {
  position: absolute;
  right: 2px;
  margin: 15px;
}

.settingsButtonWindows {
  position: absolute;
  right: 2px;
  margin: 15px;
  margin-top: 30px;
}

.SettingIcon {
  width: 20px;
  height: 20px;
  color: #c8c8c8;
  cursor: pointer;
  z-index: 3000;
}

.main {
  display: flex;
}

/* Fragment Styling */

.home,
.chat,
.teams {
  display: flex;
  height: 100vh;
  overflow-y: scroll;
  color: white;
  background: none;
  display: flex;
  flex: 2;
}

.teamDashboard {
  display: flex;
  height: 100vh;
  overflow-y: hidden;
  color: white;
  background: none;
  display: flex;
  flex: 2;
}

.home,
.chat,
.teamDashboard {
  transform: translateX(-10px);
  user-select: none;
  margin-right: -12px;
}

.wifi {
  animation: wifiAnim 0.4s ease-in-out;
}

@keyframes wifiAnim {
  0% {
    opacity: 0;
  } 100% {
    opacity: 100%;
  }
}

.sideBarClosed {
  transform: translateX(1000px);
  transition: all 0.6s ease-in-out;
  height: calc(100vh - 40px);
}

.sideBarOpened {
  transform: translateX(-20px);
  transition: all 0.6s ease-in-out;
  height: calc(100vh - 40px);
  animation: moveIn 0.7s ease-in-out;
}

.notifications {
  animation: move 0.3s ease-in-out;
}

.alertConfirm {
  z-index: 6000;
  background-color: red;
}

@keyframes move {
  0% {
    transform: translateX(+2000px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes moveIn {
  0% {
    transform: translateX(500px);
  }
  100% {
    transform: translateX(0);
  }
}
