body{
    height: 300px;
    width: 500px;
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#title{
    font-size: 20px;
    width: 300px;
    text-align: center;
}

p{
    position: absolute;
    bottom: 0;
    font-size: small;
    margin-left: 10px;
    color: #A7A7A7;
    font-weight: 500;
}