body {
    background: #1e1e1e;
    background: linear-gradient(to bottom, rgba(45,104,129,1) 0%, rgba(30,30,30,1) 16%, rgba(30,30,30,1) 100%);
    background-repeat: none;
    overflow: hidden;
    z-index: -1000;
}

.titleBar {
    height: 30px;
    width: 100%;
    top: 0;
    -webkit-app-select: none; 
    -webkit-app-region: drag;
    z-index: 2000;
    position: absolute;
}

.settingsButton {
    position: absolute;
    right: 0;
    margin: 10px;
}

.SettingIcon {
    width: 20px;
    height: 20px;
    color: #c8c8c8;
}

.main {
    display: flex;
}

/* Fragment Styling */

.home,
.chat,
.teams {
  display: flex;
  height: 100vh;
  overflow-y: scroll;
  color: white;
  background: none;
  display: flex;
  flex: 2;
}

.home, .chat{
    transform: translateX(-10px);
    user-select: none;
}

.sideBar {
    position: relative;
    height: 100vh;
    width: 200px;
    background: #121212;
    transition: 0.3s all ease-in-out;
}

.closeButton {
    position: absolute;
    bottom: 0;
    right: 0;
    background: #272727;
    height: 40px;
    padding: 2px 1px 2px 1px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-bottom: 30px;
    transform: translateX(10px);
    cursor: pointer;
    z-index: 1000;
    transition: 0.3s all ease-in-out;
}

.closeButton:hover{
    padding: 2px 3px 3px 2px;
}

.show_SideBar {
    transform: translateX(0);
}

.rotateIcon180 {
    rotate: 180deg;
}

.rotateIcon0 {
    rotate: 0deg;
}

.hide_SideBar {
    transform: translateX(-180px);
}

.activityContent {
    margin-top: 50px;
    margin-left: 20px;
    transition: 0.3s all ease-in-out;
}

.activityContent h1 {
    font-size: 25px;
}

